.kitchensink-layout {
  display: flex;
}

.kitchensink-layout__column-left {
  flex: 0 0 160px;
  margin-right: 20px;
}

.kitchensink-layout__column-right {
  flex: 0 1 600px;
}

.kitchensink-menu__heading {
  font-size: 100%;
}

.kitchensink-menu__heading--first {
  margin-top: 0;
}

.kitchensink-menu__list {
  padding: 0;
  list-style: none;
}

.kitchensink-select {
  width: 50%;
}

.kitchensink-juicyselect {
  display: block;
}

.kitchensink-heading {
    border-bottom: lightgray 1px solid;
}

.kitchensink-nested-child {
    padding: 10px;
    border: 1px solid #eeeeee;
}

.kitchensink-x-breadcrumb {
    margin-bottom: 20px;
}

.kitchensink-breadcrumb-suggestions {
    padding: 0;
    list-style: none;
    color: white;
    margin: 0;
}

.kitchensink-breadcrumb-suggestions__item:hover {
    cursor: default;
    background: rgba(255, 255, 255, 0.2);
}    

.kitchensink-upload-tasks {
    background-color: #F0F0F0;
    padding: 5px 10px 5px 10px;
    border-left: 5px solid #C0C0C0;
    margin-top: 20px;
    font-size: x-small;
}

.kitchensink-upload-tasks__heading {
    font-size: 15px;
}

.kitchensink-google-map {
    height: 300px;
}

.kitchensink-add-carrots {
    display: flex;
    align-items: baseline;
}

.kitchensink-add-carrots > * {
    margin-right: 10px;
}

.kitchensink-add-carrots__label {
    font-weight: bold;
}

.kitchensink-regenerating-carrots {
    display: flex;
    align-items: baseline;
}

.kitchensink-regenerating-carrots > * {
    margin-right: 10px;
}

.kitchensink-toggle-button[pressed] {
    color: white;
    background: green;
}

.kitchensink-toggle-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.sortable-list-button[pressed] {

}

.kitchensink-progress-bar__container {
    width: 400px;
    height: 40px;
    border: 1px solid #969696;
    overflow: hidden;
    margin-bottom: 10px;
}

.kitchensink-progress-bar__fill {
    max-width: calc(400px - 2px);
    height: 100%;
    background-color: rgba(255, 133, 0, 0.60);
}

.kitchensink-progress-bar__percentages {
    font-size: 16px;
    width: 100px;
    text-align: center;
    position: absolute;
    margin-left: 150px;
    margin-top: 5px;
}

.kitchensink-progress-bar__button {
    margin-right: 10px;
}

.kitchensink-lazy-loading__hover-box {
    background-color: rgba(255, 255, 255, 0.80);
    color: #000000;
    border: 2px solid rgba(255, 133, 0, 1);
    border-radius: 5px;
    width: 75%;
    min-height: 100px;
    margin-left: 12.5%;
}

.kitchensink-lazy-loading__hover-box p {
    font-size: 14px;
    text-align: center;
}

.kitchensink-lazy-loading__spinning-loading {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 133, 0, 1);
    border-bottom: 5px solid rgba(255, 133, 0, 1);
    width: 50px;
    height: 50px;
    margin-left: calc(50% - 25px);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes kitchen-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes kitchen-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes kitchen-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.kitchen-sink-spinner {
    display: inline-block;
    -moz-animation: kitchen-spin 2s infinite linear;
    -o-animation: kitchen-spin 2s infinite linear;
    -webkit-animation: kitchen-spin 2s infinite linear;
    animation: kitchen-spin 2s infinite linear;
}

.kitchensink-autocomplete {
    display: block;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.37);
    list-style-type: none;
    padding: 0px;
    margin: 2px 0px;
    position: absolute;
}

.kitchensink-autocomplete__item {
    padding: 0px;
}

.error-label {
    color: red;
    font-size: 8pt;
}

.jawher-btn:hover{
    color: red;
}


        #drag {
            overflow: visible;
            padding-left: 420px;
            min-height: 60px;
        }
        .drag,
        .drag-helper {
            width: 200px;
            line-height: 50px;
            float: left;
            margin: 0px 10px 10px 0px;
            border: 1px dashed #333333;
            text-align: center;
            cursor: move;
        }
        #drop {
            clear: both;
            border: 1px solid #333333;
            padding: 0px;
        }
        #drop p {
            border-bottom: 1px solid #333333;
            padding: 10px;
            margin: 0px;
        }
        #drop div.drop {
            min-height: 100px;
            padding: 10px;
        }
        #drop .drag {
            cursor: default;
        }
        .drag-helper {
            display: none;
        }
        .drag-helper.dragging {
            display: block;
        }
        .drag-hover {
            background-color: #eeffc5;
        }
        juicy-draggable.fixed .drag {
            left: 10px;
        }
        juicy-draggable.fixed-drop .drag {
            left: 220px;
        }


body {
    background: #ffffff;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0;
}

.invoicedemo.menu {
    display: block;
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 0;
    background-color: #4479BA;
    border-bottom: 1px solid #C0C0C0;
}

.invoicedemo.menu li {
    display: inline-block;
    padding: 10px 20px 10px 0;
}

.invoicedemo.menu li a {
    text-decoration: none;
    color: white;
}

.invoicedemo.menu li a:hover {
    text-decoration: underline;
}

.invoicedemo.panes {
    display: flex;
    padding: 10px;
}

.invoicedemo.panes section {
    flex: 1 1 auto;
    border: 1px solid rgb(226, 226, 226);
    background: #FCFCFC;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    margin: 10px;
}

.invoicedemo.panes section.list {
    flex: 1 0 auto;
    width: 225px;
}

.invoicedemo.panes section.invoice {
    flex: 4 0 auto;
    width: 450px;
}

.invoicedemo.panes section.invoice .invoice-item-cell {
    width: 20%;
}

.invoicedemo.panes section.invoice .invoice-item-cell:first-child {
    width: 40%;
}

.invoicedemo input,
.invoicedemo select,
.invoicedemo textarea,
.invoicedemo button {
    font-family: inherit;
}

.invoicedemo input {
    font-size: 100%;
}

/* Header */
.invoicedemo h3 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 40px;
    color: black;
}

.invoicedemo .subtitle {
    margin: 10px 0px 20px 0px;
}

.invoicedemo .subtitle label {
    display: block;
    margin-bottom: 3px;
}

.invoicedemo .subtitle input {
    margin-top: 3px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #cccccc;
}

.invoicedemo .invoice-items {
    display: table;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
}

.invoicedemo .invoice-items-body {
    display: table-row-group;
}

.invoicedemo .invoice-items-head {
    display: table-header-group;
}

.invoicedemo .invoice-items-head .invoice-item-cell,
.invoicedemo .invoice-items-foot .invoice-item-cell:last-child {
    border-width: 1px 1px 1px 1px;
    padding: 8px;
    border-style: solid;
    border-color: #cccccc;
    color: #000000;
    background-color: #eeeeee;
    font-weight: bold;
    text-align: center;
}

.invoicedemo .invoice-items-foot {
    display: table-footer-group;
}

.invoicedemo .invoice-item {
    display: table-row;
}

.invoicedemo .invoice-item-cell {
    display: table-cell;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
}

.invoicedemo .invoice-items-head .invoice-item-cell:first-child {
    text-align: left;
    padding-left: 10px;
}

.invoicedemo .invoice-items-head .invoice-item-cell:last-child,
.invoicedemo .invoice-items-foot .invoice-item-cell:last-child {
    text-align: right;
    padding-right: 10px;
}

.invoicedemo .invoice-item-cell input {
    margin: 0px;
    padding: 8px 10px 8px 10px;
    border-width: 0px;
    width: 100%;
    box-sizing: border-box;
}

.invoicedemo .invoice-item-cell input[type=number],
.invoicedemo .invoice-item-cell input.number {
    text-align: right;
    /*padding-right: 0px;*/
}

.invoicedemo .invoice-item-cell.readonlycell {
    padding: 6px 10px 6px 10px;
}

.invoicedemo .invoice-item-cell.alignright {
    text-align: right;
}

.invoicedemo .invoice-items-foot .invoice-item-cell {
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    background-color: transparent;
}

.invoicedemo button {
    margin: 0px 4px 6px 0;
    padding: 8px 15px 8px 15px;
    background: #4479BA;
    color: #FFF;
    border: 0px;
}

.invoicedemo button:hover {
    cursor: pointer;
    background-color:#5588c7;
}

.invoicedemo .invoice-item-cell a:link {
    color: #3d85b4;
    text-decoration: underline;
    padding: 6px 10px 6px 10px;
}

.invoicedemo .invoice-item-cell a:visited {
    color: #3d85b4;
    text-decoration: underline;
}

.invoicedemo .invoice-item-cell a:active,
.invoicedemo .invoice-item-cell a:hover {
    color: #59a0c3;
    text-decoration: underline;
}
